<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Order Cart</title>
</head>
<body>
  <div align="center">
        <form  action="#" th:action="@{/save}" th:object="${cart}" method="post" >
            <h1 align="center"> Edit Order Details </h1>
            <table >
                <tr>
                    <td>Order ID</td>
                    <td><input type="text" th:field="*{id}" readonly="readonly" /> </td>
                </tr>
                 <tr>
                    <td>Order Name</td>
                        <td><input type="text" th:field="*{name}"/> </td>
        
                </tr>
              
                <tr>
                    <td>price</td>
                       <td><input type="text" th:field="*{price}"/> </td>
                </tr>
                <tr>
                    <td>Order Quantity:</td>
                       <td><input type="text" th:field="*{quntity}"/> </td>
                </tr>
             
                <tr>
                   
                    <td><input type="reset" value="Reset"></td>
                    <td colspan="2"><button type="submit">Save</button></td> 
</tr>
</table>
</form></div>
</body>
</html>