<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Order Cart</title>
</head>
<body>
<div align="center">


<h1> Order Cart</h1>

<a href="new">Create New Order</a>
<br/><br/>
 <table border="1"cellpadding="10">
<thead>
	<tr>
	<th> Order ID </th>
	<th> Order Name </th>
	<th> price </th>
	<th> Quantity </th>
	
	
</thead>
<tbody>
		<tr th:each ="cart : ${listCarts}">
		<td th:text="${cart.id}"> Order ID</td>
		<td th:text="${cart.name}"> Order Name</td>
		<td th:text="${cart.price}">Price</td>
		<td th:text="${cart.quntity}">Quantity</td>
		
		<td>
		<a th:href="@{'/edit/' + ${cart.id}}" >EDIT</a>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<a th:href="@{'/delete/' + ${cart.id}}" >DELETE</a>
</tbody>

</table>
</div>
</body>
</html>